@font-face {
  font-family: "Verdana", sans-serif;
  src: url("../verdanab.ttf");
}
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

@media screen and (max-width: 600px) {
  .header .container {
    background-color: white;
    box-shadow: 0 0 5px 2px #a9a8a8;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
  }
  .header .container .logo {
    padding-left: 20px;
  }
  .header .container .logo:hover {
    background-color: #d2d1d1;
    padding: 10px 20px;
  }
  .header .container .logo a {
    text-decoration: none;
  }
  .header .container .item-menu {
    display: none;
  }
  .main .slider1 {
    position: relative;
  }
  .main .slider1 img {
    width: 100%;
    margin: 0 auto;
  }
  .main .slider1 span {
    position: absolute;
    font-size: 32px;
    left: 196px;
    top: 116px;
    background-color: black;
    color: white;
    opacity: 80%;
    width: 85px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .main .lable1 {
    font-size: 1.1em;
    margin: 65px 0 30px auto;
    border-bottom: 1px solid #ececec;
    max-width: 95%;
    padding-bottom: 20px;
    display: inherit;
  }
  .main .lable1 h3 {
    font-size: 1.28em;
    font-weight: inherit;
  }
  .main .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .project .box-img {
    margin-top: 20px;
    width: 420px;
    position: relative;
  }
  .main .project .box-img img {
    width: 100%;
  }
  .main .project .box-img p {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    background-color: black;
    color: white;
    padding: 9px 14px;
  }
  .main .about {
    margin: 30px 30px;
  }
  .main .about h3 {
    font-size: 1.3em;
    font-weight: inherit;
    border-bottom: 1px solid #ececec;
    padding: 30px 0 16px 0;
  }
  .main .about p {
    margin-bottom: 60px;
  }
  .main .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .cards .card img {
    width: 100%;
    margin-top: 10px;
  }
  .main .cards .card h3 {
    font-size: 1.3em;
    margin: 15px 0;
  }
  .main .cards .card p {
    margin: 10px 0;
  }
  .main .cards .card button {
    width: 100%;
    height: 36px;
    outline: none;
    border: none;
  }
  .main .cards .card button:hover {
    background-color: #cecece;
  }
  .main .cards .card {
    width: 420px;
    margin: 10px auto;
  }
  .main .contact h3 {
    margin: 30px 40px;
    font-size: 1.3em;
  }
  .main .contact p {
    margin: 10px 40px;
  }
  .main .contact .form1 .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .contact .form1 .inputs input {
    width: 420px;
    margin: 10px auto;
    padding: 7px;
    font-size: 0.8em;
    border: 1px solid rgb(196, 193, 193);
  }
  .main .contact .form1 button {
    background-color: black;
    color: white;
    padding: 11px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 20px auto 20px 23px;
  }
  .main .contact .form1 button:hover {
    background-color: rgb(161, 161, 161);
    color: black;
  }
  .main .slider2 {
    width: 90%;
    margin: 10px auto;
  }
  .main .slider2 img {
    width: 100%;
  }
  footer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  .header .container {
    background-color: white;
    box-shadow: 0 0 5px 2px #a9a8a8;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .container .logo {
    padding-left: 20px;
  }
  .header .container .logo:hover {
    background-color: #d2d1d1;
    padding: 10px 20px;
  }
  .header .container .logo a {
    text-decoration: none;
  }
  .header .container .item-menu {
    display: flex;
    margin: 0 30px;
  }
  .header .container .item-menu li {
    padding: 10px;
  }
  .header .container .item-menu li:hover {
    background-color: #d2d1d1;
  }
  .header .container .item-menu li a {
    padding: 0 20px;
  }
  .main .slider1 {
    position: relative;
  }
  .main .slider1 img {
    width: 100%;
    margin: 0 auto;
  }
  .main .slider1 span {
    position: absolute;
    font-size: 32px;
    left: 196px;
    top: 116px;
    background-color: black;
    color: white;
    opacity: 80%;
    width: 85px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .main .lable1 {
    font-size: 1.1em;
    margin: 65px 0 30px auto;
    border-bottom: 1px solid #ececec;
    max-width: 95%;
    padding-bottom: 20px;
    display: inherit;
  }
  .main .lable1 h3 {
    font-size: 1.28em;
    font-weight: inherit;
  }
  .main .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1px 30px;
    gap: 12px;
  }
  .main .project .box-img {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .main .project .box-img img {
    width: 99%;
  }
  .main .project .box-img p {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    background-color: black;
    color: white;
    padding: 9px 14px;
  }
  .main .about {
    margin: 40px 35px;
  }
  .main .about h3 {
    font-size: 1.3em;
    font-weight: inherit;
    border-bottom: 1px solid #ececec;
    padding: 30px 0 16px 0;
    margin-bottom: 22px;
  }
  .main .about p {
    margin-bottom: 60px;
  }
  .main .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .cards .card img {
    width: 100%;
    margin-top: 10px;
  }
  .main .cards .card h3 {
    font-size: 1.3em;
    margin: 15px 0;
  }
  .main .cards .card p {
    margin: 10px 0;
  }
  .main .cards .card button {
    width: 100%;
    height: 36px;
    outline: none;
    border: none;
  }
  .main .cards .card button:hover {
    background-color: #cecece;
  }
  .main .cards .cards {
    width: 99%;
    margin: 10px auto;
  }
  .main .contact {
    margin: 90px 50px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .contact h3 {
    font-size: 1.3em;
    font-weight: inherit;
    border-bottom: 1px solid #ececec;
    padding-bottom: 22px;
  }
  .main .contact p {
    margin: 10px;
  }
  .main .contact .form1 .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .contact .form1 .inputs input {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgb(196, 193, 193);
  }
  .main .contact .form1 button {
    background-color: black;
    color: white;
    padding: 11px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 20px auto;
  }
  .main .contact .form1 button:hover {
    background-color: rgb(161, 161, 161);
    color: black;
  }
  .main .slider2 {
    width: 100%;
    margin: 10px auto;
  }
  .main .slider2 img {
    width: 100%;
  }
  footer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .main .project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1px 30px;
    gap: 12px;
  }
  .main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7px;
    margin: 15px 24px;
  }
}
@media screen and (min-width: 1580px) {
  .main {
    margin: 0 200px;
  }
  .main .lable1 {
    margin: 65px 0 30px 0;
  }
  .main .project {
    margin: 15px 1px;
  }
  .main .about {
    margin: 15px 1px;
  }
  .main .cards {
    margin: 15px 1px;
  }
  .main .contact {
    margin: 15px 1px;
  }
  .main .slider2 {
    margin: 15px 1px;
  }
}

/*# sourceMappingURL=style4.css.map */
